source https://nuget.org/api/v2

group Core

  source https://nuget.org/api/v2
  nuget FParsec
  github fsprojects/Chessie src/Chessie/ErrorHandling.fs

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  github fsprojects/FsUnit src/FsUnit.NUnit/FsUnitTyped.fs
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget FSharp.Object.Diff